@model DetailsViewModel
@{
	ViewData["Title"] = "کالا " + Model.product.Name;
}
<div>
	<h1 class="display-5">@Model.product.Name</h1>
	<hr />
	<img src="~/images/@(Model.product.Id).jpg"
		 class="img-thumbnail"
		 height="500"
		 width="500"
		 alt="@Model.product.Name" /> 
	<p class="py-2">@Model.product.Description</p>
	<p>قیمت : @Model.product.Item.Price</p>
	<dl>
		@foreach (Category item in Model.categories)
		{
			<dt>@item.Name</dt>
			<dd>@item.Description</dd>
		}
	</dl>
	<div>
		<a class="btn btn-primary"
		   asp-controller="Home"
		   asp-action="AddToCart"
		   asp-route-itemId="@Model.product.ItemId">افزودن به سبد خرید</a>
	</div>

</div>
